@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans', sans-serif;
}

.main-agendar{
    width: 100vw;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 10%;
    background: #005dcb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.144);
}

.navbar > h1{
    color: white;
    font-size: 18pt;
    margin-left: 8px;
    font-weight: 300;
}

.btn-voltar{
    width: 40px;
    padding: 6px;
    cursor: pointer;
}


.painel-cadastro{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-formulario{
    width: 90%;
    height: 80%;
    display: inline-block;
    background: #f6f6f6;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.377);
    overflow-x: auto;
}

.titulo-campo{
    margin-left: 1vw;
    font-size: 20pt;
}

.form-botao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-salvar{
    width: 13vw;
    font-size: 12pt;
    padding: 10px;
    color: white;
    background-color: #005dcb;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.377);
    cursor: pointer;
    margin-bottom: 1vh;
}

.btn-salvar:hover{
    background-color: #3175c8;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 95%;
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14pt;
}