@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans', sans-serif;
}

.main-home{
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
    display: block;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 10%;
    background: #005dcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.144);
}


#logo-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#logo-div > h1{
    color: white;
    font-size: 18pt;
    font-weight: 300;
}

#logo-div > img{
    width: 50px;
    margin-right: 10px;
}

#user-img{
    width: 40px;
}

.content-div{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.painel-botoes{
    margin: 10px;
    width: 15vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.123);
}

.btn-home{
    width: 23vw;
    height: 18vh;
    padding: 16px;
    background: #005dcb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15pt;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-home:hover{
    background-color: #3175c8;
}

.imagens{
    margin: 10px;
    width: 40vw;
    height: 40vh;
    padding: 5vw;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.123);
    display: flex;
    
 
    flex-direction: column;
}

.user > img{
    width: 12vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user > h1{
    font-size: 18pt;
    padding: 0;
}

#btn-sair {
    border: none;
    padding: 10px;
    background: white;
    color: #005dcb  ;
    font-size: 12pt;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.123);
    margin-right: 10px;
}

#btn-sair:hover{
    background: #F6F6F6;
}

