<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/ajustes_style.css">
    <title>Ajustes</title>
</head>
<body>
    <div class="main-ajustes">
        <div class="nav-bar">
            <a href="/home.html"><img src="images/retornar.svg" class="btn-voltar" alt="Voltar"></a>
            <h1>Ajustes</h1>
        </div>
        <div class="cards">
            <div class="card">
                <h1>Especialidade 1</h1>
                <div class="textfield">
                    <label for="seg-esp1">Segunda-feira:</label>
                    <select name="seg-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="ter-esp1">Terça-feira:</label>
                    <select name="ter-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>    
                </div>
                <div class="textfield">
                    <label for="qua-esp1">Quarta-feira:</label>
                    <select name="qua-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="qui-esp1">Quinta-feira:</label>
                    <select name="qui-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sex-esp1">Sexta-feira:</label>
                    <select name="sex-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sab-esp1">Sábado:</label>
                    <select name="sab-esp1" id="esp1">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="tempo">
                    <label for="tempo-medio1">Tempo médio por consulta:</label>
                    <select name="tempo-medio1" id="">
                        <option value="">20min</option>
                        <option value="">30min</option>
                        <option value="">45min</option>
                        <option value="">1h</option>
                    </select>
                </div>
                <button class="btn-salvar">Salvar</button>
            </div>
    
            <div class="card">
                <h1>Especialidade 2</h1>  
                <div class="textfield">
                    <label for="seg-esp2">Segunda-feira:</label>
                    <select name="seg-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="ter-esp2">Terça-feira:</label>
                    <select name="ter-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>    
                </div>
                <div class="textfield">
                    <label for="qua-esp2">Quarta-feira:</label>
                    <select name="qua-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="qui-esp2">Quinta-feira:</label>
                    <select name="qui-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sex-esp2">Sexta-feira:</label>
                    <select name="sex-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sab-esp2">Sábado:</label>
                    <select name="sab-esp2" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="tempo">
                    <label for="tempo-medio2">Tempo médio por consulta:</label>
                    <select name="tempo-medio2" id="">
                        <option value="">20min</option>
                        <option value="">30min</option>
                        <option value="">45min</option>
                        <option value="">1h</option>
                    </select>
                </div>
                <button class="btn-salvar">Salvar</button> 
            </div>
    
            <div class="card">
                <h1>Especialidade 3</h1>
                <div class="textfield">
                    <label for="seg-esp3">Segunda-feira:</label>
                    <select name="seg-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="ter-esp3">Terça-feira:</label>
                    <select name="ter-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>    
                </div>
                <div class="textfield">
                    <label for="qua-esp3">Quarta-feira:</label>
                    <select name="qua-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="qui-esp3">Quinta-feira:</label>
                    <select name="qui-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sex-esp3">Sexta-feira:</label>
                    <select name="sex-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="textfield">
                    <label for="sab-esp3">Sábado:</label>
                    <select name="sab-esp3" id="">
                        <option value="">Sem atendimento</option>
                        <option value="">8h as 17h</option>
                        <option value="">8h as 18h</option>
                        <option value="">9h as 18h</option>
                        <option value="">9h as 17h</option>
                    </select>
                </div>
                <div class="tempo">
                    <label for="tempo-medio3">Tempo médio por consulta:</label>
                    <select name="tempo-medio3" id="">
                        <option value="">20min</option>
                        <option value="">30min</option>
                        <option value="">45min</option>
                        <option value="">1h</option>
                    </select>
                </div>
                <button class="btn-salvar">Salvar</button>
            </div>
        </div>
        
    </div>
</body>
</html>