<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'cadastro_style.css' %}">  
        <title>Ficha do paciente</title>
    </head>
    <body>
        <div class="main-agendar">
            <div class="navbar">
                <a href="{% url 'consultas' %}"><img src="{% static 'img/retornar.svg' %}" alt="Voltar" class="btn-voltar"></a>
                <h1>Ficha do paciente</h1>
            </div>
            <div class="painel-cadastro">
                <div id="card-formulario">
                    <form id="formulario" method="POST">
                        {% csrf_token %}
                        <h1 class="titulo-campo">Dados do paciente:</h1>
                        <div class="form-group">
                            <label for="id_nome">Nome:</label>
                            {{ form.nome }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_endereco">Endereço:</label>
                            {{ form.endereco }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_cpf">CPF:</label>
                            {{ form.cpf }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_rg">RG:</label>
                            {{ form.rg }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_telefone">Telefone:</label>
                            {{ form.telefone }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_data_nascimento">Data de Nascimento:</label>
                            {{ form.data_nascimento }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_prioridade">Prioridade:</label>
                            {{ form.prioridade }}
                        </div>
                        
                        <h1 class="titulo-campo">Dados da consulta:</h1>

                        <div class="form-group">
                            <label for="id_convenio_medico">Convênio Médico:</label>
                            {{ form.convenio_medico }}
                        </div>
                        
                        <div class="form-group">
                            <label for="id_forma_pagamento">Forma de Pagamento:</label>
                            {{ form.forma_pagamento }}
                        </div>


                        <div class="form-botao">
                            <button type="submit" class="btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        
    </body>
</html>