<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_style.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="right-login">
            <div class="card-login">
                <div id="logo-div">
                    <img src="{% static 'img/agenda.svg' %}" alt="logo">
                    <h1>CONSULTAS</h1>
                </div>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="textfield">
                        <label for="username">Usuário</label>
                        <input type="text" id="username" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" id="password" name="senha" placeholder="Senha" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            </div>
        </div>

    </div>
    
</body>
</html>