<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ver_consultas_style.css' %}">
    <title>Ver consultas</title>
</head>
<body>
    <div class="consultas-main">
        <div class="nav-bar">
            <a href="{% url 'home' %}"><img src="{% static 'img/retornar.svg' %}" alt="Voltar" class="btn-voltar"></a>
            <h1>Consultas marcadas</h1>
        </div>
        <div class="content-consultas">
            <div class="painel">
                <div class="filtros">
                    <form method="GET" action="{% url 'consultas' %}">
                        <div class="field-filtro">
                            <label for="especialidade" class="label-esp">Especialidade: </label>
                            <select name="especialidade" class="sel-especialidade" id="id_especialidade" onchange="this.form.submit()">
                                <option value="">Todas</option>
                                <option value="Clinico Geral" {% if request.GET.especialidade == "Clinico Geral" %}selected{% endif %}>Clinico Geral</option>
                                <option value="Oftalmologista" {% if request.GET.especialidade == "Oftalmologista" %}selected{% endif %}>Oftalmologista</option>
                                <option value="Dermatologista" {% if request.GET.especialidade == "Dermatologista" %}selected{% endif %}>Dermatologista</option>
                            </select>
                        </div>
                        <div class="field-filtro">
                            <label for="data_consulta" class="label-esp">Dia da Consulta: </label>
                            <select name="data_consulta" class="sel-especialidade" id="id_data_consulta" onchange="this.form.submit()">
                                <option value="">Todos</option>
                                <option value="Segunda-feira" {% if request.GET.data_consulta == "Segunda-feira" %}selected{% endif %}>Segunda-feira</option>
                                <option value="Terça-feira" {% if request.GET.data_consulta == "Terça-feira" %}selected{% endif %}>Terça-feira</option>
                                <option value="Quarta-feira" {% if request.GET.data_consulta == "Quarta-feira" %}selected{% endif %}>Quarta-feira</option>
                                <option value="Quinta-feira" {% if request.GET.data_consulta == "Quinta-feira" %}selected{% endif %}>Quinta-feira</option>
                                <option value="Sexta-feira" {% if request.GET.data_consulta == "Sexta-feira" %}selected{% endif %}>Sexta-feira</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
          
            <div class="tabela">
                <table class="table">
                    <thead id="cabecalho">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data e horário</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Especialidade</th>
                            <th scope="col">Pagamento</th>
                            <th scope="col">Prioridade</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes %}
                            <tr class="dados-paciente">
                                <th scope="row">{{ paciente.pk }}</th>
                                <td>{{ paciente.nome }}</td>
                                <td>{{ paciente.data_consulta }}</td>
                                <td>{{ paciente.telefone }}</td>
                                <td>{{ paciente.email }}</td>
                                <td>{{ paciente.especialidade }}</td>
                                <td>{{ paciente.forma_pagamento }}</td>
                                <td>{{ paciente.prioridade }}</td>
                                <td>
                                    <a href="{% url 'desmarcar' pk=paciente.pk %} "><button class="btn-desmarcar" alt="desmarcar">Desmarcar</button></a>
                                    <a href="{% url 'editar' pk=paciente.pk %}"><button class="btn-ficha" alt="Ficha do paciente">Editar</button></a>
                                </td>
                            </tr>          
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        // Adiciona um evento que será executado quando o conteúdo da página estiver completamente carregado
        document.addEventListener("DOMContentLoaded", function() {
            // Obtém os elementos do campo de especialidade e de data de consulta
            const especialidadeField = document.getElementById("id_especialidade");
            const dataConsultaField = document.getElementById("id_data_consulta");
    
            // Função para atualizar as opções de data de consulta com base na especialidade selecionada
            function updateDataConsultaOptions() {
                // Obtém o valor da especialidade selecionada
                const selectedEspecialidade = especialidadeField.value;
                // Obtém todas as opções do campo de data de consulta
                const allOptions = dataConsultaField.querySelectorAll("option");
    
                // Oculta todas as opções inicialmente
                allOptions.forEach(option => {
                    option.style.display = "none";
                });
    
                // Mostra as opções apropriadas com base na especialidade selecionada
                if (selectedEspecialidade === "Clinico Geral") {
                    showOptions(["Todos", "Segunda-feira", "Terça-feira"]);
                } else if (selectedEspecialidade === "Oftalmologista") {
                    showOptions(["Todos", "Quarta-feira", "Quinta-feira"]);
                } else if (selectedEspecialidade === "Dermatologista") {
                    showOptions(["Todos", "Sexta-feira"]);
                } else if (selectedEspecialidade === "") {
                    showOptions(["Todos", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira"]);
                }
            }
    
            // Função para mostrar as opções de datas que correspondem aos dias fornecidos
            function showOptions(days) {
                // Obtém todas as opções do campo de data de consulta
                const allOptions = dataConsultaField.querySelectorAll("option");
                // Define o display das opções que estão nos dias fornecidos como "block" para mostrá-las
                allOptions.forEach(option => {
                    if (days.includes(option.textContent)) {
                        option.style.display = "block"; 
                    }
                });
            }
    
            // Adiciona um ouvinte de evento para o campo de especialidade, para chamar a função de atualização quando o valor mudar
            especialidadeField.addEventListener("change", updateDataConsultaOptions);
    
            // Chama a função de atualização inicialmente para garantir que as opções corretas estejam visíveis ao carregar a página
            updateDataConsultaOptions();
        });
    </script>
    
</body>
</html>
