<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'ver_consultas_style.css' %}">
    <title>Ver consultas</title>
</head>
<body>
    <div class="consultas-main">
        <div class="nav-bar">
            <a href="{% url 'home' %}"><img src="{% static 'img/retornar.svg' %}" alt="Voltar" class="btn-voltar"></a>
            <h1>Consultas marcadas</h1>
        </div>
        <div class="content-consultas">
          <div class="painel">
            <div class="filtros">
              <label for="especialidade" id="label-esp">Especialidade: </label>
              <select name="especialidade" id="sel-especialidade">
                <option value="">Clínico geral</option>
                <option value="">Oftalmologista</option>
                <option value="">Dermatologista</option>
              </select>
            </div>
            <div class="desmarcar">
              <button class="btn-desmarcar" alt="Selecione uma consulta da tabela para desmarcar">Desmarcar consulta</button>
            </div>
            
          </div>
          
          <div class="tabela">
            <table class="table">
              <thead id="cabecalho">
                <tr>
                  <th></th>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Data e horário</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Prioridade</th>
                </tr>
              </thead>
              <tbody>
                {% for paciente in pacientes %}
                  <tr class="dados-paciente">
                    <td><input type="checkbox"></td>
                    <th scope="row">{{ paciente.pk }}</th>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.data_nascimento }}</td>
                    <td> {{ paciente.telefone }} </td>
                    <td> {{ paciente.email }} </td>
                    <td> {{ paciente.prioridade }} </td>
                  </tr>          
                {% endfor %}
              </tbody>
            </table>
          </div>
            
            
        </div>
    </div>
</body>
</html>